{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>Me</h1>
        {# <h2 style="background-image: url({{ asset('img/Knowledge.jpg') }})">
        </h2> #}

        {# <img class="image" style="background-image: url({{ asset('img/Knowledge.jpg') }})" alt="Bild"> #}
    <p>
        Who am i? I am not that sure any longer. I thought I had a goal, a dream in life, but
        my body does not seem to keep up. The pain, the stress, the constant anxiety runs deep through my veins and I barely stay afloat. My dreams are not as vividly showing in my mind and I just do not know now. I want to stay afloat but my body and mind also seems to work against me. I do not really know what my body or mind can do. The pain suffocates and pushes dreams and goals away as ligaments and muscles break down.
        Is there anything that can help at all? How can i rid myself of this pain and be able to walk forward once more?
        Chronicles of wild stories rishing through my head as I dream to tell them to the world, but no clear vision on how to phrase them. The only thing that still keeps me afloat. Only a spark left withering slowly outside in the storm. The never ending darkness closing in. Frozen in time, little by little falling down into nothingness, floating through a vast space like a soft cloud carrying me away.
        I just wish I am able to remain just a little longer. Maybe I am able to tell
        the world my stories before time runs out.        
    </p>
    <img class="image" src="{{ asset('img/hedgehog.png') }}" alt="Bild">

{% endblock %}
