{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

        
        <article class="aside">
            <h2>Table of content</h2> 
            <div class="list">
                <ul>
                    <li><a href="#kmom01">kmom01</a></li>
                    <li><a href="#kmom02">kmom02</a></li>
                    <li><a href="#kmom03">kmom03</a></li>
                    <li><a href="#kmom04">kmom04</a></li>
                    <li><a href="#kmom05">kmom05</a></li>
                    <li><a href="#kmom06">kmom06</a></li>
                </ul>
            </div>
        </article>
        <div class=flex>
            <article class= article>
   
                <div class="header">
                    <h1>Here I will give my report for each assingment</h1>

                    <h1>Redovisning</h1>
                </div> 
                <div class=text>
                    <h2 id="kmom01">kmom01</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>
                        <p>
                            Vet inte helt vart jag ska börja. Har kämpat med kmom01 nu i nästan 1 månad och känner att det varit ganska svårt. Har ganska lite PHP och objektorienterad relaterade kunskaper sen tidigare. Jag tog kurserna under 2022 hösttermin men inte lyckats ta mig igenom dessa kurser så gjort ytters lite inom detta tidgare vilket gjort att det mesta känns nytt och förvirrande. Mycket jag känner mig väldigt förvirrad över men tror jag fått till alla kraven. Det vi gick igenom under lektionen och själva "baskoden" tog mig väldigt långt att förstå. Väldigt mycket nytt på skärmen och blev något förstod inte riktigt vad eller vart jag skulle göra något alls. Det tog också nästan en vecka att ens få studiemiljön att fungera som planerat då jag stötte på flertal program som gjorde att studiemiljön inte fungerade. Fick lite hjälp till slut men försökt att ta en tag i taget men blir svårt med mycket nya saker då jag för närvarande krashar mentalt på grund av mycket stress och ångest så tyvärr tagit väldigt lång tid att ta mig igenom detta kursmoment.
                            <br>
                            Vet inte helt om det är något jag vill veta om PHP just nu. Känner att jag inte är speciellt förtjust i språket för tillfället bara. Men det är säkert bra, men hade för mig att det är ett ganska "dött" språk och att det egentligen finns väldigt få arbetsområden som andra inte språk kan göra? Men kan ha missuppfattat hur det ligger till.
                            <br>
                            Min TIL för detta kursmoment vet jag nog inte helt. Känner mig förvirrad för det mesta men har fått till det mesta så är glad att det fungerar nu iaf för mig. Hoppas också att det fungerar sen när någon rättar allt sedan också. 
                        </p>

                    <h2 id="kmom02">kmom02</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>

                    <h2 id="kmom03">kmom03</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>

                    <h2 id="kmom04">kmom04</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>

                    <h2 id="kmom05">kmom05</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>

                    <h2 id="kmom06">kmom06</h2>
                        <p>Här kommer redovisningstexten för detta kursmoment.</p>
                </div>       
            </article>
        </div>
{% endblock %}